{% extends 'base.html.twig' %}

{% block title %}Hello SuccessController!{% endblock %}

{% block body %}
    <div>
        User cookie id: {{ user.cookieId }}
    </div>
    <div>
        User email: {{ user.email }}
    </div>
{% endblock %}
