{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}

    <div>
        <h1 class="text-center">Sign Up</h1>

        {% if  errors %}
            <div class="mt-4">
                {% for error in errors %}
                    <div class="alert alert-danger mt-1 text-center">{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="mt-4">
            <form action="" method="POST">
                <label for="firstName">First Name</label>
                <input id="firstName" type="input" class="form-control" name ="firstName" placeholder="First Name" required>

                <label for="lastName">Last Name</label>
                <input id="lastName" type="input" class="form-control" name="lastName" placeholder="Last Name" required>

                <label for="username">Email</label>
                <input id="email" type="input" class="form-control" name="username" placeholder="email@address.tld" required>

                <label for="password">Password</label>
                <input id="password" type="password" class="form-control" name="password" placeholder="password" required>

                <button class="btn btn-primary mt-4">Sign Up</button>
            </form>
        </div>
    </div>
{% endblock %}