{#
    - [x] use conditions to not ask authenticated user to sign up/log in (1)
    - [x] search button need to be shown if required (2) (given true need to be dynamic)
#}
<div>
    <nav class="navbar navbar-light navbar-expand-lg bg-light">
        <a href="/" class="navbar-brand">TableOrder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">

            </ul>
            {% if user.user %}

                {# authenticated user #}
                {% include "/base-sections/individual-components/user/authenticated-user.html.twig" %}

            {% else %}

                <div class="my-2 my-lg-0">
                    <a href="/authentication/sign-up" class="btn btn-primary">
                        Sign Up
                    </a>
                    <a href="/authentication/login" class="btn btn-outline-secondary">
                        Log In
                    </a>
                </div>
            {% endif %}
            {% if searchState %}
                <button class="btn btn-outline-success" data-toggle="collapse" data-target="#mainSearchFormGroup">
                    <i class="fas fa-search fa-1.5x"></i>
                </button>
           {% endif %}
        </div>
    </nav>
</div>

{% block stylesheets %}
    <link rel="stylesheet" href="/css/navbar/user/user-operations.css">
{% endblock %}