<div class="bg-dark p-1 collapse" id="mainSearchFormGroup">
    <div class="container">
        <h1 class="text-light text-center">Find your table for any occasion</h1>
        {% include "base-sections/individual-components/main-searcher.html.twig" %}
    </div>
</div>