<div class="row">
    <div class="col-6">
        <h1>{{ restaurant.name }}</h1>
    </div>
    <div class="col-6">
        {% if bookmarked %}
            <div class="float-right">
                <h1 id="bookmark" ng-click= {{ "bookmark('/restaurants/" ~ restaurant.id ~ "/bookmark')" }} class="text-warning" ><i class="far fa-bookmark"></i></h1>
            </div>
        {% else %}
            <div class="float-right">
                <h1 id="bookmark" ng-click= {{ "bookmark('/restaurants/" ~ restaurant.id ~ "/bookmark')" }}><i class="far fa-bookmark"></i></h1>
            </div>
        {% endif %}

    </div>
</div>

{% block stylesheets %}
    <link rel="stylesheet" href="/css/restaurant/title-section.css">
{% endblock %}