{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {% if bookmarked %}
            <div>
                removed
            </div>
        {% else %}
            <div>
                added
            </div>
        {% endif %}
    </div>
{% endblock %}
