<div id="user-operations" class="mr-4" ng-controller="UserOperationsCtrl">
    <div>
        <a title="your notifications" href="#notifications" data-toggle="modal"><i class="far fa-bell"></i>

            {% if notificationData.amountOfNotifications != 0 %}
                <span id="notification-badge" class="badge badge-info"> {{ notificationData.amountOfNotifications }} </span>
            {% endif %}

        </a>
    </div>
    <div>
        <a title="your bookmarks" href="/me#bookmarks"><i class="far fa-bookmark"></i></a>
    </div>

    <div>
        <a title="your dashboard" href="/me">{{ user.user.firstName }}</a>
    </div>

    <section>
        <div class="modal" tabindex="-1" role="dialog" id="notifications">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Notifications</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        {% if notificationData.amountOfNotifications > 0 %}
                            <div id="displayed-notifications">
                                {% for index, notification in notificationData.notifications %}

                                    {# separate notifications #}
                                    {% if index > 0 %}
                                        <hr>
                                    {% endif %}

                                    <div class="row">
                                        <div class="col-9">
                                            <span class="text-muted">{{ notification.message }}</span>
                                        </div>
                                        <div class="col-3">
                                            <small>{{ notification.time|date("H:i") }}</small>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>

                        {% else %}
                            <span class="text-muted text-center">No notifications</span>
                        {% endif %}

                    </div>
                    <div class="modal-footer">
                        {# angularJS button click #}
                        <button ng-click="markAsRead()" type="button" class="btn btn-primary">Mark all as read</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% block stylesheets %}
    <link rel="stylesheet" href="/css/navbar/user/notification-badge.css">
{% endblock %}

{% block javascripts %}
    <script src="/js/angular/user-operations/notifications/view/notification-view-handler.js" defer></script>
    <script src="/js/angular/user-operations/notifications/services/notificationHandler.js" defer></script>
    <script src="/js/angular/user-operations/user-operations-ctrl.js" defer></script>
{% endblock %}