<div id="user-operations" class="mr-4">
    <div>
        <a title="your saves" href="/me/saves"><i class="far fa-bookmark"></i></a>
    </div>

    <div>
        <a title="your dashboard" href="/me">{{ user.user.firstName }}</a>
    </div>
</div>