{#
    - [] make dynamic (1)
#}

<section id="user-activity">

    {# RESERVATIONS #}
    {% include "dashboard/activity/components/reservations.html.twig" %}

    {# RATINGS #}
    {% include "dashboard/activity/components/ratings.html.twig" %}

    {# BOOKMARKS #}
    {% include "dashboard/activity/components/bookmarks.html.twig" %}

</section>