<div>
    <h4 class="text-center">Your Review</h4>
    <hr>
    <div>

        {% if  rating %}
            <div class="row mb-4">
                <div class="col-4">
                    <h5><span class="text-muted">Your Rating is </span><strong class="text-weight-bold">{{ rating.review }}</strong></h5>
                </div>
                <div class="col-8">
                    {% set notRated = 5 - rating.review %}

                    {% for index in range(1, rating.review) %}
                        {% include "base-components/rating/rated.html.twig" %}
                    {% endfor %}

                    {% if notRated != 0 %}
                        {% for index in range(1,notRated) %}
                            {% include "base-components/rating/not-rated.html.twig" %}
                        {% endfor %}
                    {% endif %}

                    <small class="text-muted"> rated at {{ rating.date.format("Y-m-d") }} {{ rating.reviewTime.format("H:i") }}</small>

                </div>
            </div>

        {% else %}
            <div>
                {% include "restaurant/sections/review/ratings.html.twig" %}
            </div>
        {% endif %}


        <div class="alert alert-success text-center" id="commentSubmitted">
            Your comment is <strong>submitted</strong>! To see it refresh this page.

            <div>
                <small class = text-muted>I was very lazy at that day and don't add js rendering :)</small>
            </div>
        </div>

        <div class="alert alert-warning text-center" id="submitError">
            Sth went wrong. Please try again!
        </div>

        <div class="input-group">

            <input id="comment" type="text" class="form-control" name="comment" ng-model="comment">

            <div class="input-group-append">
                <button class="btn btn-success" ng-click={{ "addComment('/restaurants/" ~ restaurant.id ~ "/comment')" }}>Add Comment</button>
            </div>
        </div>
    </div>
</div>


